* {
  margin: 0;
}

main {
  background-color: aqua;
  display: block;
}

header {
  background-image: url(./img/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  box-shadow: 0px 0px 12px 1px rgb(255, 81, 0);
}

.title {
  font-size: 80;
  color: #fff;
  width: 100px;
  background-color: transparent;
}

/*Tarjetas*/

.boxesContainer {
  height: 350px;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background: #000000;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border: solid 2px rgb(0, 132, 255);
}

.front,
.back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.back {
  transform: rotateY(180deg);
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 1px rgb(255, 81, 0);
}

h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
}

h3 {
  color: rgb(255, 81, 0);
}

p {
  margin-bottom: 2px;
  color: fff;
}

strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: rgb(131, 6, 226);
}

.cardBox:nth-child(3) .card .back {
  background: rgb(2, 108, 31);
}

.cardBox:nth-child(4) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }

  .card {
    height: 285px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
    height: 290px;
  }
}


/* seccion carusel */

.caruse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-items: center;
}

input[type=radio] {
  display: none;
}

.carusel-card {
  position: absolute;
  /* display: block; */
  width: 600px;
  height: 600px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {

  /* border: 2px solid black; */
  width: 100%;
  height: 1000px;
  padding-top: 200px;
  transform-style: preserve-3d;
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
}

.carrussel-cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  /* border: solid 2px blue; */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked~.carrussel-cards #song-3,
#item-2:checked~.carrussel-cards #song-1,
#item-3:checked~.carrussel-cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked~.carrussel-cards #song-2,
#item-2:checked~.carrussel-cards #song-3,
#item-3:checked~.carrussel-cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked~.carrussel-cards #song-1,
#item-2:checked~.carrussel-cards #song-2,
#item-3:checked~.carrussel-cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}